#adminmenu #toplevel_page_graph-search-optimizer-graph-search-optimizer div.wp-menu-image { width:auto; }
#toplevel_page_graph-search-optimizer-graph-search-optimizer .wp-menu-image a { float:left; }
#toplevel_page_graph-search-optimizer-graph-search-optimizer .wp-menu-image img
{
    float: left;
    margin-top: 0px;
    padding-top: 0px;
}